In [16]:
import time
import yfinance as yf
from datetime import date
from tqdm import tqdm
import pandas as pd
import numpy as np
import pickle

data we are going to extract -
Nifty_sectors, NASDAQ,Dow_Jons,Spx, Brent, Gold, INR_USD, Dollar_Index, Bond_Yeild, Nifty, Nifty_Midcap, Nifty_Smallcap

In [17]:

tickers = ['^NSEI','^DJI', '^GSPC', '^IXIC','BZ=F','^TNX','GC=F','INR=X','DX-Y.NYB','^NSEBANK','^CNXIT','^CNXAUTO','^CNXMETAL','^CNXFMCG','^CNXENERGY',
           'NIFTY_FIN_SERVICE.NS','^CNXINFRA','^CNXCMDT','^CNXCONSUM']
Factors = pd.DataFrame()
# Loop through each ticker symbol
end = date.today()
start = date(year=end.year-20, month=end.month, day=end.day)
for ticker in tickers:
    # Download the historical data for the ticker
    data = yf.download(ticker, start=start, end=end)
    data = data.round(2)
    Factors[ticker] = data['Close']
# Convert the index to a datetime format
Factors.index = pd.to_datetime(Factors.index, errors='coerce')
# Convert the index to a string format
Factors.index = Factors.index.strftime('%d-%m-%y')
Factors = Factors.rename(columns={'^DJI': 'Dow_Jons', '^GSPC' : 'SPX_500', '^IXIC' : 'NASDAQ', 'BZ=F' : 'BRENT','^TNX' : 'BOND_10Y',
                 'GC=F' : 'Gold','INR=X' : 'Inr_Usd','^NSEI' : 'Nifty_50','DX-Y.NYB' : 'Dollar_Index', '^NSEBANK' : 'Bank_Nifty',
                   '^CNXIT' : 'Nifty_IT','^CNXAUTO' : 'Nifty_Auto', '^CNXMETAL':'Nifty_Metal','^CNXFMCG' : 'Nifty_FMGC','^CNXENERGY' : 'Nifty_Energy',
                      'NIFTY_FIN_SERVICE.NS' :  'NIFTY_FIN_SERVICE','^CNXINFRA' : 'Nifty_Infra','^CNXCMDT' : 'Nifty_CMDT'
                         ,'^CNXCONSUM' : 'Nifty_Consumer'})

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [18]:
Factors

,Nifty_50,Dow_Jons,SPX_500,NASDAQ,BRENT,BOND_10Y,Gold,Inr_Usd,Dollar_Index,Bank_Nifty,Nifty_IT,Nifty_Auto,Nifty_Metal,Nifty_FMGC,Nifty_Energy,NIFTY_FIN_SERVICE,Nifty_Infra,Nifty_CMDT,Nifty_Consumer
Date,,,,,,,,,,,,,,,,,,,
17-09-07,4494.65,13403.42,1476.65,2581.66,76.98,4.47,715.8,40.38,79.72,6897.10,4573.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-09-07,4546.20,13739.39,1519.78,2651.66,77.59,4.48,715.8,40.22,79.21,7059.65,4576.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19-09-07,4732.35,13815.56,1529.03,2666.48,78.47,4.52,722.0,40.03,79.30,7401.85,4667.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20-09-07,4747.55,13766.70,1518.75,2654.29,79.09,4.67,732.4,39.62,78.58,7390.15,4566.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21-09-07,4837.55,13820.19,1525.75,2671.22,79.30,4.63,731.4,39.77,78.60,7464.50,4603.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25-04-23,17769.25,33530.83,4071.63,11799.16,80.77,3.40,1994.0,81.85,101.86,42678.50,26985.80,12904.55,5738.25,47051.85,23385.75,18961.85,5226.55,5686.90,7384.85
26-04-23,17813.60,33301.87,4055.99,11854.35,77.69,3.43,1985.7,81.99,101.47,42829.90,27065.00,12972.75,5713.20,47387.50,23365.80,19003.00,5246.50,5678.65,7411.85
27-04-23,17915.05,33826.16,4135.35,12142.24,78.37,3.53,1989.9,81.77,101.50,43000.85,27355.25,13071.80,5753.75,47360.15,23443.65,19097.15,5279.10,5712.80,7439.20
28-04-23,18065.00,34098.16,4169.48,12226.58,79.54,3.45,1990.1,81.77,101.67,43233.90,27708.20,13189.25,5799.40,47814.10,23734.55,19162.55,5356.20,5781.65,7502.05
02-05-23,18147.65,33684.53,4119.58,12080.51,75.32,3.44,2014.3,NaN,101.96,43352.10,28025.00,13283.15,5882.00,47750.20,24046.95,19208.05,5387.20,5845.25,7522.65

In [19]:
Factors.fillna(0, inplace=True)
for column in Factors.columns:
    for i in range(len(Factors[column])):
        if Factors[column].iloc[i] == 0:
            if i == 0:
                continue
            else:
                Factors[column].iloc[i] = Factors[column].iloc[i-1]
        else:
            continue
    Factors[column] = Factors[column].replace(0, np.nan).fillna(Factors[column].mean())
Factors = Factors.round(2)
Factors

,Nifty_50,Dow_Jons,SPX_500,NASDAQ,BRENT,BOND_10Y,Gold,Inr_Usd,Dollar_Index,Bank_Nifty,Nifty_IT,Nifty_Auto,Nifty_Metal,Nifty_FMGC,Nifty_Energy,NIFTY_FIN_SERVICE,Nifty_Infra,Nifty_CMDT,Nifty_Consumer
Date,,,,,,,,,,,,,,,,,,,
17-09-07,4494.65,13403.42,1476.65,2581.66,76.98,4.47,715.8,40.38,79.72,6897.10,4573.55,6254.53,2459.24,19407.67,10274.00,7458.83,2685.42,2549.24,3233.10
18-09-07,4546.20,13739.39,1519.78,2651.66,77.59,4.48,715.8,40.22,79.21,7059.65,4576.75,6254.53,2459.24,19407.67,10274.00,7458.83,2685.42,2549.24,3233.10
19-09-07,4732.35,13815.56,1529.03,2666.48,78.47,4.52,722.0,40.03,79.30,7401.85,4667.30,6254.53,2459.24,19407.67,10274.00,7458.83,2685.42,2549.24,3233.10
20-09-07,4747.55,13766.70,1518.75,2654.29,79.09,4.67,732.4,39.62,78.58,7390.15,4566.05,6254.53,2459.24,19407.67,10274.00,7458.83,2685.42,2549.24,3233.10
21-09-07,4837.55,13820.19,1525.75,2671.22,79.30,4.63,731.4,39.77,78.60,7464.50,4603.85,6254.53,2459.24,19407.67,10274.00,7458.83,2685.42,2549.24,3233.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25-04-23,17769.25,33530.83,4071.63,11799.16,80.77,3.40,1994.0,81.85,101.86,42678.50,26985.80,12904.55,5738.25,47051.85,23385.75,18961.85,5226.55,5686.90,7384.85
26-04-23,17813.60,33301.87,4055.99,11854.35,77.69,3.43,1985.7,81.99,101.47,42829.90,27065.00,12972.75,5713.20,47387.50,23365.80,19003.00,5246.50,5678.65,7411.85
27-04-23,17915.05,33826.16,4135.35,12142.24,78.37,3.53,1989.9,81.77,101.50,43000.85,27355.25,13071.80,5753.75,47360.15,23443.65,19097.15,5279.10,5712.80,7439.20
28-04-23,18065.00,34098.16,4169.48,12226.58,79.54,3.45,1990.1,81.77,101.67,43233.90,27708.20,13189.25,5799.40,47814.10,23734.55,19162.55,5356.20,5781.65,7502.05
02-05-23,18147.65,33684.53,4119.58,12080.51,75.32,3.44,2014.3,81.77,101.96,43352.10,28025.00,13283.15,5882.00,47750.20,24046.95,19208.05,5387.20,5845.25,7522.65

In [20]:
Factors.nunique()

Nifty_50             3778
Dow_Jons             3716
SPX_500              3709
NASDAQ               3715
BRENT                2959
BOND_10Y              393
Gold                 3023
Inr_Usd              2160
Dollar_Index         2069
Bank_Nifty           3541
Nifty_IT             3518
Nifty_Auto           2845
Nifty_Metal          2801
Nifty_FMGC           2982
Nifty_Energy         2964
NIFTY_FIN_SERVICE    2825
Nifty_Infra          2992
Nifty_CMDT           2776
Nifty_Consumer       2815
dtype: int64

In [21]:
for col in Factors.columns:
    Factors[f'{col}_1d_return'] = Factors[col].pct_change(periods=1)
    Factors[f'{col}_1d_return'] = Factors[f'{col}_1d_return'].pct_change(periods=1)

In [22]:
Factors.columns

Index(['Nifty_50', 'Dow_Jons', 'SPX_500', 'NASDAQ', 'BRENT', 'BOND_10Y',
       'Gold', 'Inr_Usd', 'Dollar_Index', 'Bank_Nifty', 'Nifty_IT',
       'Nifty_Auto', 'Nifty_Metal', 'Nifty_FMGC', 'Nifty_Energy',
       'NIFTY_FIN_SERVICE', 'Nifty_Infra', 'Nifty_CMDT', 'Nifty_Consumer',
       'Nifty_50_1d_return', 'Dow_Jons_1d_return', 'SPX_500_1d_return',
       'NASDAQ_1d_return', 'BRENT_1d_return', 'BOND_10Y_1d_return',
       'Gold_1d_return', 'Inr_Usd_1d_return', 'Dollar_Index_1d_return',
       'Bank_Nifty_1d_return', 'Nifty_IT_1d_return', 'Nifty_Auto_1d_return',
       'Nifty_Metal_1d_return', 'Nifty_FMGC_1d_return',
       'Nifty_Energy_1d_return', 'NIFTY_FIN_SERVICE_1d_return',
       'Nifty_Infra_1d_return', 'Nifty_CMDT_1d_return',
       'Nifty_Consumer_1d_return'],
      dtype='object')

In [25]:
return_1d = Factors.drop(columns=['Nifty_50', 'Dow_Jons', 'SPX_500', 'NASDAQ', 'BRENT', 'BOND_10Y',
       'Gold', 'Inr_Usd', 'Dollar_Index', 'Bank_Nifty', 'Nifty_IT',
       'Nifty_Auto', 'Nifty_Metal', 'Nifty_FMGC', 'Nifty_Energy',
       'NIFTY_FIN_SERVICE', 'Nifty_Infra', 'Nifty_CMDT', 'Nifty_Consumer',])
return_1d.replace([np.inf, -np.inf], np.nan, inplace=True)
return_1d = return_1d.dropna()
return_1d = return_1d.round(2)
return_1d

,Nifty_50_1d_return,Dow_Jons_1d_return,SPX_500_1d_return,NASDAQ_1d_return,BRENT_1d_return,BOND_10Y_1d_return,Gold_1d_return,Inr_Usd_1d_return,Dollar_Index_1d_return,Bank_Nifty_1d_return,Nifty_IT_1d_return,Nifty_Auto_1d_return,Nifty_Metal_1d_return,Nifty_FMGC_1d_return,Nifty_Energy_1d_return,NIFTY_FIN_SERVICE_1d_return,Nifty_Infra_1d_return,Nifty_CMDT_1d_return,Nifty_Consumer_1d_return
Date,,,,,,,,,,,,,,,,,,,
08-09-11,-0.53,-1.42,-1.37,-1.26,-1.42,-1.81,-1.74,-1.00,-2.71,-0.70,8.26,0.42,-1.46,-0.27,-0.34,-1.00,-0.83,-0.81,-1.19
13-09-11,-0.95,-0.36,0.31,0.35,-0.30,1.97,-1.37,0.01,-2.73,-0.80,-1.27,1.72,0.03,-0.86,-1.16,0.42,-0.88,-0.26,0.88
14-09-11,-13.25,2.14,0.48,0.07,-2.42,-0.68,-1.19,-0.43,-0.88,-3.40,3.66,-0.71,-1.07,-91.91,3.21,-0.79,0.02,-1.14,-0.63
15-09-11,-0.13,0.31,0.28,-0.16,4.74,2.96,12.66,-0.67,6.38,0.40,-0.46,-5.15,8.29,-1.20,-0.03,-2.90,-2.51,5.99,-3.54
16-09-11,-0.87,-0.60,-0.67,-0.56,-2.03,-1.12,-1.77,-1.60,-1.58,-0.69,-1.44,-0.69,-0.91,3.86,-0.64,1.62,0.43,-0.60,-1.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24-04-23,-299.38,1.97,-0.06,-3.73,0.90,-3.49,-1.35,-0.55,22.50,-4.43,0.03,-0.96,-1.33,-0.35,108.75,-7.56,-2.08,-1.79,3.18
25-04-23,-0.78,-6.18,-19.57,5.77,-2.81,1.43,-0.49,1.22,-2.09,-0.92,-1.14,-3.07,0.37,-0.60,7.12,-1.13,0.35,-0.27,0.05
26-04-23,0.71,-0.33,-0.76,-1.24,0.61,-1.26,-2.69,-1.70,-1.76,2.54,-3.85,5.08,-1.71,2.08,-1.11,-2.33,-0.39,-1.47,0.29
27-04-23,1.28,-3.31,-6.09,4.19,-1.23,2.30,-1.51,-2.57,-1.08,0.13,2.65,0.44,-2.63,-1.08,-4.91,1.28,0.63,-5.15,0.01
28-04-23,0.47,-0.49,-0.58,-0.71,0.71,-1.78,-0.95,-1.00,4.66,0.36,0.20,0.18,0.12,-17.61,2.72,-0.31,1.35,1.00,1.29

In [26]:

with open('return_1d.pkl', 'wb') as fh:
   pickle.dump(return_1d, fh)